apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  project: monitoring
  source:
    path: charts/kube-prometheus-stack
    repoURL: https://github.com/prometheus-community/helm-charts.git
    targetRevision: HEAD
    helm:
      valuesObject:
        crds:
          enabled: false # configured elsewhere in this repo
        alertmanager:
          enabled: false
        grafana:
          enabled: false
        prometheus:
          ingress:
            enabled: true
            ingressClassName: nginx
            pathType: ImplementationSpecific
            paths: [ / ]
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-production
              nginx.ingress.kubernetes.io/auth-url: "https://account.k3s.fluv.net/oauth2/auth"
              nginx.ingress.kubernetes.io/auth-signin: "https://accounts.k3s.fluv.net/oauth2/start?rd=$escaped_request_uri"
            hosts:
              - prometheus.k3s.fluv.net
            tls:
              - secretName: prometheus-k3s-fluv-net-tls
                hosts:
                  - prometheus.k3s.fluv.net
          prometheusSpec:
            podMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelectorNilUsesHelmValues: false
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: longhorn-durable
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 50Gi
        prometheusOperator:
          admissionWebhooks:
            certManager:
              enabled: true
        kubeEtcd:
          enabled: false
        kubeScheduler:
          enabled: false
        kubeProxy:
          enabled: false
        kubeControllerManager:
          enabled: false
        cleanPrometheusOperatorObjectNames: true
        defaultRules:
          create: false
