apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oauth2-proxy
  namespace: monitoring
spec:
  ingressClassName: nginx
  rules:
  - host: prometheus.k3s.fluv.net
    http:
      paths:
      - path: /oauth2
        pathType: Prefix
        backend:
          service:
            name: oauth2-proxy
            port:
              number: 4180
  tls:
  - hosts:
    - prometheus.k3s.fluv.net
    secretName: prometheus-k3s-fluv-net-tls
