apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-20"
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: longhorn
      repoURL: https://charts.longhorn.io/
      targetRevision: v1.10.*
      helm:
        values: |
          preUpgradeChecker:
            jobEnabled: false
          persistence:
            defaultClassReplicaCount: 2
          ingress:
            enabled: true
            tls: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: "letsencrypt-staging"
              nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
              nginx.ingress.kubernetes.io/auth-url: https://authentik-server.authentik.svc.cluster.local/outpost.goauthentik.io/auth/nginx
              nginx.ingress.kubernetes.io/auth-signin-redirect-param: rd
            hosts:
              - longhorn.k3s.fluv.net
            tls:
              - secretName: longhorn-k3s-fluv-net-tls
                hosts:
                  - longhorn.k3s.fluv.net
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
